@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
#root {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    color: black;

}
.card-img{
    padding: 10%;
}

.card {
    margin: 5px;
    padding: 10px;
    border: 3px solid black;
    text-align: center;
    border-radius: 5%;
    flex: 1 1 calc(33% - 2rem);
}

.card h1{
    font-size: 30px;
}

.card-img {
    border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
    border-radius: 5%;
    width: 50%;
    height: 30%;
    padding: 2px;
}


.valor{
    font-weight: bold;
    font-size: 20px;
}

.update{
    background-color: #000000;
    color: greenyellow;
    padding: 3px;
    width: 30%
}

.apagar{
    background-color: #000000;
    color: greenyellow;
    padding: 3px;
    width: 30%
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    border-radius: 25px;

}
  
li {
    float: left;
}

li a {
    display: block;
    padding: 20px;
}

a:link, a:visited {
    text-decoration: none;
    color: greenyellow;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  form{
      margin: 20px;
  }
  
  #form label, input {
      display: block;
      padding: 3px;
      margin: 15px;
      width: 50%;
      border: 1px solid green;
  }
  
  #submit{
      color: green;
      background-color: #1a1a1a;
  }

@media screen and (max-width: 767px) {
    .card {
        flex: 1 1 calc(50% - 2rem);
    }
}
